<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoPSiEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	
  <applicationSettings>
    <AutoPSiEdit.Properties.Settings>
      <setting name="Test_DemoJsonFile" serializeAs="String">
        <value>D:\\Development-Net\\Applications\\.NET Framework 4.8\\AutoPSi\\AutoPSiEdit\\data\\sample.json</value>
      </setting>
      <setting name="Test_LoadDemo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserDataKey_SerialNumber" serializeAs="String">
        <value>Serial</value>
      </setting>
      <setting name="UserDataKey_MACAddress" serializeAs="String">
        <value>MAC</value>
      </setting>
      <setting name="UserDataKey_AssetOwner" serializeAs="String">
        <value>Provider</value>
      </setting>
      <setting name="UserDataKey_Source" serializeAs="String">
        <value>Source</value>
      </setting>
      <setting name="UserDataRef_AssetOwner" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>DB</string>
            <string>HP</string>
            <string>ATOS</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDataRef_ProcType" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>add</string>
            <string>modify</string>
            <string>remove</string>
            <string>ignore</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDataRef_Source" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>Manual</string>
            <string>dbNet3</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDataRef_ModelName" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>HP Color LaserJet E55040</string>
            <string>HP Color LaserJet E87660</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserDataRef_GroupName" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>ALL-HP-COSI</string>
            <string>ALL-HP-MOSI</string>
            <string>ALL-HP-MOSI</string>
            <string>ALL-HP-MODU</string>
          </ArrayOfString>
        </value>
      </setting>
    </AutoPSiEdit.Properties.Settings>
  </applicationSettings>
</configuration>